.r-checkbox--outer {
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  display: inline-block;
  line-height: 1;
  position: relative;
  vertical-align: middle;
}

.r-checkbox--inner {
  display: inline-block;
  position: relative;
  border: 1px solid #dcdfe6;
  border-radius: 2px;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  background-color: #fff;
  z-index: 1;
  transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46);
}

.r-checkbox--inner:after {
  box-sizing: content-box;
  content: "";
  border: 1px solid #fff;
  border-left: 0;
  border-top: 0;
  height: 7px;
  left: 4px;
  position: absolute;
  top: 1px;
  transform: rotate(45deg) scaleY(0);
  width: 3px;
  transition: transform .15s ease-in .05s;
  transform-origin: center;
}

.r-checkbox--inner.is-checked {
  background-color: #409eff;
  border-color: #409eff;
}

.r-checkbox--inner.is-checked:after {
  transform: rotate(45deg) scaleY(1);
}

.r-checkbox-native {
  opacity: 0;
  display: none;
}

.r-checkbox__label {
  margin-left: -10px;
  display: inline-block;
  line-height: 19px;
  font-size: 14px;
}

.r-checkbox {
  color: #606266;
  // font-weight: 500;
  margin-right: 10px;
  cursor: pointer;
}