@mixin mask($bgColor:rgba(0, 0, 0, .6)) {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bgColor;
  overflow: auto;
  z-index: 9999;
}