/* 默认颜色值 */
$common-white: #fff;
$main-color-style: #ff6353;
$mian-gray-color: #999;

/* 字体大小 */
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;

/* 按钮颜色值 */
$color-primary: #409EFF;
$color-success: #67C23A;
$color-danger: #F56C6C;
$color-warning: #E6A23C;
$color-info: #909399;

$color-primary-hover: #66b1ff;
$color-success-hover: #85ce61;
$color-danger-hover: #f78989;
$color-warning-hover: #ebb563;
$color-info-hover: #a6a9ad;